@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Eras Light ITC';
  font-weight: 300;
  font-style: normal;
  src: local('Futura Light'), local('Century Gothic');
}

@font-face {
  font-family: 'Brown Sugar';
  font-weight: 400;
  font-style: normal;
  src: local('League Spartan'), local('Helvetica Neue');
}
